
body {
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    overflow: hidden;
  }

.flex-container {
    display: flex;
    height: 100vh;
    flex-grow: 1;  /* ensures that the container will take up the full height of the parent container */
    overflow-y: auto;  /* adds scroll to this container */
}

.flex-nav {
    background-color: rgb(0, 70, 92);
    color:white;
    display: flex;
    flex: 0 0 200px;
    flex-direction: column;
    justify-content: space-around;
    text-decoration: none;
    font-size: 20px;
}

.nav-item {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left:10px
}
.nav-item:hover {
    background-color: lightblue;
    color: black;
}
a.nav-link {
    color: white;
    text-decoration: none;
}

.flex-center {
    display: flex;
    justify-content: center;
}

.flex-plan-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: baseline;
}

.planning {
    width: 40%;
}

.flex-container-generic {
    flex: 5;
    flex-direction: column;
    flex-wrap: nowrap;
    display: flex;
    justify-content: flex-start;
}
.page-header {
    background-color: lightblue;
    min-height: 100px;
    max-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.flex-box-generic {
    border: 2px solid rgb(0, 70, 92);
    width: 35%;
    border-radius: 20px;
    background-color: #f4f4f4;
    margin: 10px;
    padding: 10px;
}


ul#participant-info {
    list-style-type: none;
    padding-left: 0;
    margin-left: 0;
}

ul#participant-hcp-info {
    list-style-type: none;
    padding-left: 0;
    margin-left: 0;
}

.flex-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.list-page {
    justify-content: space-between;
}

.details-content {
    display: none;
}
.details-container {
    display: flex none;
    width: 50%;
}

.page-list {
    display: flex;
    flex-direction: column;
}

.result-block {
    border: 2px solid black;
    padding: 10px;
    margin: 10px;
}

.button {
    color: rgb(0, 70, 92);
    font-size:20px;
    background-color: white;
    padding: 10px;
    border-radius: 20px;
    border: 2px solid rgb(0, 70, 92);
    cursor: pointer;
}
.button:hover {
    color: white;
    background-color: rgb(0, 70, 92);
}

#update-details-button {
    width: 77%;
    display: flex;
}

