
/* general styling*/

html {
    height: 100%;
}

/* layout/nav/flexbox styling */

body {
    height: 100%;   
    overflow: hidden;  /* (add scrolling to the sidebar and main content containers) */
    display: flex;
    box-sizing: border-box;
    margin: 0;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

a {
    color: #E63946;
}

.column {
    height: 100%;
    display: flex;
    flex-direction: column;  /* places the left and right headers above the bottom content */
    width: 100%;
}

#left {
    flex-shrink: 0;  /* makes sure that content is not cut off in a smaller browser window */
    background: linear-gradient(200deg, rgba(29,53,87,1) 55%, rgba(69,123,157,1) 100%) !important;
    color:#F1FAEE;
    display: flex;
    flex: 0 0 140px;
    flex-direction: column;
    justify-content: space-around;
    text-decoration: none;
    font-size: 20px;
}

.top-left { /* where logo goes */
    flex-shrink: 0;
    align-items: center;
    height:50px;
    background-color: rgba(69,123,157,1);
    background: linear-gradient(90deg, rgb(15, 39, 63) 60%, rgba(69,123,157,1) 98%);
    display: flex;
}

#logo {
    padding-left: 10px;
}

#right {
    width: 100vw;
    background-color: #f4f4f4;
    /* padding-right: 50px; */
}

.top-right { /* page header styling*/
    flex-shrink: 0;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(90deg, rgba(69,123,157,1) 0%, rgba(168,218,220,1) 100%);
    color: #F1FAEE;
    min-height: 50px;
    max-height: 50px;
    display: flex;
    width: 100%;
}

#header-right-half {
    padding-right: 2.5%;
}

.page-header h1{ /* addtl text header styling*/
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 300;
    font-size:x-large;
    padding-left:25px;
}

.bottom {
    flex-grow: 1;
    overflow-y: auto;  /* adds scroll to this container */
    width: 100%;
}

#right .bottom{
    box-shadow: 7px 7px 5px -5px grey inset;

}

.page-content {
    /* padding-top: 2.5%; */
    padding-left: 2.5%;
    width: 95%;
}


/* .flex-container { THIS DOES NOTHING
    display: flex;
    flex-direction: column;
} */


/* NAVIGATION STYLING */

#flex-nav { /* overall navbar styling */
    background: linear-gradient(200deg, rgba(29,53,87,1) 65%, rgba(69,123,157,1) 100%) !important;
    color:#F1FAEE;
    display: flex;
    flex: 0 0 160px;
    flex-direction: column;
    justify-content: space-around;
    text-decoration: none;
    font-size: 20px;
}

.nav-item { /* styles for each nav div*/
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left:10px;
    /* border-bottom: 1px solid rgba(241,250,238,.5); */
    /* border-bottom: 1px solid #F1FAEE; */
}
.nav-item:hover {
    background-color: rgba(168,218,220,.2);
    color: #F1FAEE;
}

a.nav-link, .dropdown-button {
    color: #F1FAEE;
    text-decoration: none;
    cursor: pointer;
}

.dropdown-container {
    display: none;
    background-color: rgba(99, 133, 134, 0.3);
    padding-left: 8px;
  }

.dropdown-button {
    margin-block-end: 0;
    margin-bottom: 0;
    margin-top: 0px;
}
  
.bi-chevron-down {
    float: right;
    padding-right: 8px;
    padding-top: 8px;
  }

.bi-chevron-up {
    float: right;
    padding-right: 8px;
    padding-top: 8px;
  }

.active {
    background-color: rgba(99, 133, 134, 0.2)
}

.planning {
    width: 40%;
}

#result-details .flex-row {
    justify-content: space-between;
    align-items: flex-start;
}

#result-details .planning {
    background-color:rgba(243, 243, 243, 0.8);
}

.planning-num {
    color: rgba(69,123,157,1);
}

.test {
  width: 30% !important;
}

#study-details .flex-row {
    justify-content: space-between;
    align-items: flex-start;
}

.plan-2 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content:flex-start;
    width: 90%;
}

.plan-3 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content:flex-start;
    width: 90%;
}



.search {
    padding-top: 20px;
}

ul#participant-info {
    list-style-type: none;
    padding-left: 0;
    margin-left: 0;
}

ul#participant-hcp-info {
    list-style-type: none;
    padding-left: 0;
    margin-left: 0;
}

.flex-center {
    display: flex;
    justify-content: center;
}

.flex-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.between-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.list-page .flex-row {
    align-items:flex-start;
}

.list-page {
    justify-content: space-between;
    flex-direction: row;
}

ul#itemsList {
    list-style-type: none;
    padding-left: 0;
    margin-left: 0;
}

.list-page-item { /* styles for each nav div*/
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left:10px;
    /* border-bottom: 1px solid rgba(3, 27, 78, 0.685); */
    margin-bottom: 1px;
    background-color: rgba(208, 206, 206, 0.4);
}
.list-page-item:hover {
    background-color: rgba(208, 206, 206, 0.8);
    color: #F1FAEE;
}

.list-page-item a {
    text-decoration: none;
    color: black;
}

.basic-box {
    padding: 1px 20px 20px 20px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-top: 20px;
}

.basic-box.participant-details {
    height: 200px;
    width:45%;
}

.details-container {
    display: flex none;
    width: 50%;
}

#details-content {
    margin-top: 20px;
    padding: 5px 20px;
    border-radius: 10px;
    background-color: white;
    width: 70%;
}

.page-list {
    display: flex;
    flex-direction: column;
}

.details-table thead {
    background-color: #f4f4f4;
    text-align: center;
}

.details-table {
    width: 100%;
}

.details-table tbody {
    font-size: small;
}

.participant-page-table {
    
}

.result-block {
    border: 2px solid black;
    padding: 10px;
    margin: 10px;
}

.button {
    color: #F1FAEE;
    font-size:16px;
    background-color: #3B3838;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
}
.button:hover {
    background-color: rgba(59, 56, 56, 0.7);
}

.page-bottom-button {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 78%;
    margin-top: 20px;
}

#update-details-button {
    width: 100%;
}

.small-button {
 font-size: 12px;
 padding: 3px;
}

